---
layout: default
title: Home
---
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
	  
    </h1>

    <span class="post-date"> 
	<!-- Anfang Datum -->
		{% assign m = post.date | date: "%-m" %}
		{{ post.date | date: "%d" }}.
		{% case m %}
		  {% when '1' %}Januar
		  {% when '2' %}Februar
		  {% when '3' %}M&auml;rz
		  {% when '4' %}April
		  {% when '5' %}Mai
		  {% when '6' %}Juni
		  {% when '7' %}Juli
		  {% when '8' %}August
		  {% when '9' %}September
		  {% when '10' %}Oktober
		  {% when '11' %}November
		  {% when '12' %}Dezember
		{% endcase %}
		{{ post.date | date: "%Y" }}
		   <!-- Ende Datum -->
	&middot; {{ post.location }}

	</br>
	<a href="{{ post.url }}index.html#disqus_thread" data-disqus-identifier="{{post.url}}"></a>
   </span>
    
	{{ post.excerpt}}
	<a href="{{ post.url}}">...mehr!</a>
  </div>
  <hr>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Älter</a>
  {% else %}
    <span class="pagination-item older">Älter</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Neuer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Neuer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Neuer</span>
  {% endif %}
</div>


	<script type="text/javascript">
/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
var disqus_shortname = 'whataboutas'; // required: replace example with your forum shortname
//var disqus_developer = 1; // Comment out when the site is live

/* * * DON'T EDIT BELOW THIS LINE * * */
(function () {
var s = document.createElement('script'); s.async = true;
s.type = 'text/javascript';
s.src = '//' + disqus_shortname + '.disqus.com/count.js';
(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>