body {
  color: #515151;
  background-color: #f7f7f7;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
  text-align:justify;
}

.masthead-tagline {
  margin-top: 0;
  margin-bottom: 0;
  color: #505050;
}
.masthead-tagline small {
  font-size: 75%;
  font-weight: 400;
  color: #c0c0c0;
  letter-spacing: 0;
}

.content {
position:relative;
margin-left: 23rem;
margin-right:5rem;
    /*background-color: #000;*/
}
@media (max-width: 48em) {
  .content {
position:relative;
margin-left: 1rem;
margin-right: 1rem;
    /*background-color: #000;*/
  }
}

.masthead {
  padding-top:    0rem;
  padding-bottom: 1rem;
  margin-bottom: 0rem;
}

.fluidMedia {
    position: relative;
    /*padding-bottom: 56.25%; /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
    /*padding-bottom: 56.25%;*/ 
    /*padding-top: 30px;*/
    /*height: 0;*/
    width:100%;
    overflow: hidden;
}

.fluidMedia iframe {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
}

img {
  display: block;
  max-width: 100%;
  margin: 0rem 0rem 10rem;
  border-radius: 5px;
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.img-wide {
  display: block;
  width: 100%;
  /*height: 10em;
  overflow: hidden;*/
  margin: 1rem 0rem 1rem;
  border-radius: 5px;

  /*border: solid 1px #9a9a9a;*/
  /*box-shadow: rgba(0,0,0,0.2) 0 0 5px 3px;
    -webkit-box-shadow: rgba(0,0,0,0.2) 0 0 5px 3px;
    -moz-box-shadow: rgba(0,0,0,0.2) 0 0 5px 3px;*/
}

.sidebarimage {
 position:relative;
  max-width: 70%;
  max-width: 10em;
  margin: 2rem 0rem 3rem;
  /*margin-bottom: 3rem;
    margin-left:  auto;
  margin-right: auto;*/
  border-radius: 500px;
  	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
  /*box-shadow: 0 0 8px rgba(255, 255, 255, .2);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .2);*/
    /*border: 5px solid #eee;*/
}
@media (max-width: 48em) {
  .sidebarimage {
position:page;
  margin-left:  auto;
  margin-right: auto;
  }
}

.images{
    /*display:inline-block;*/
    /*float:inherit;*/
    /*height: 5em;*/
    margin: 0em 0em 0em 0em;
    padding: 0px 0px 0px 0px;
    border-radius: 0px;
    /*border: solid 1px #9a9a9a;*/
    width:auto;
    height: 150%;

   }
/*.imagescontainer{
    display:inline-block;
    height:100px;
    width:100px;
    overflow:hidden;
    margin: -0.5em 0em 0em 0em;
        /*border-radius: 5px;*/
            /*border: solid 1px #9a9a9a;*/
            /*text-align:center;*/
            /*background: #FFF;*/
}*/

/*a {
  display:inline-block;
  color: #268bd2;
  text-decoration: none;*/

.imageslink{
    /*display:inline-table;*/
    /*position:relative;*/
    height: 100%;
    margin: 0em 0em 0em 0em;
    /*border-radius: 5px;*/
    padding: 0 0 0 0;
   }

 a.imageslink:hover
{
/*border-color: aqua;*/
    /*box-shadow: rgba(0,0,0,0.2) 0 0 5px 3px;
    -webkit-box-shadow: rgba(0,0,0,0.1) 0 0 5px 3px;
    -moz-box-shadow: rgba(0,0,0,0.1) 0 0 5px 3px;*/
    /*color:#FFF;*/
    opacity: 0.7; filter:alpha(opacity=70);
}

 .image-frame {
     text-align:left;
     /*background-color: #fff;*/
     /*box-shadow: inset rgba(247,247,247,1) 0 0 60px 70px;*/
 }

 /*Bilder in Text einbetten*/
 .links {
float: left;
margin-right: 1rem;
margin-bottom: 1rem;
} 
@media (max-width: 23em) {
  .links {
float:none;
margin-left: auto;
margin-right: auto;
margin-top: 1rem;
margin-bottom: 1rem;
  }
}

 .rechts {
float: right;
margin-left: 1rem;
margin-bottom: 1rem;
} 
@media (max-width: 23em) {
  .rechts {
float:none;
margin-left: auto;
margin-right: auto;
margin-top: 1rem;
margin-bottom: 1rem;
  }
}

 .post-location {
  display: block;
  margin-top: -1rem;
  margin-bottom: 1rem;
  color: #9a9a9a;
  font-style:italic;
}

 hr {
  position: relative;
  margin: 1rem 0;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}

 .sidebar {
  text-align: center;
  padding: 2rem 1rem;
  color: #505050;
  background-color: #ecf0f1;
}
@media (min-width: 48em) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 18rem;
    text-align: left;
  }
}

@media (min-width: 48em) {
  .sidebar-sticky {
    position: absolute;
    right:  1rem;
    bottom: 1rem;
    left:   1rem;
    top:    1rem;
  }
}


/*
 * Reverse layout
 *
 * Flip the orientation of the page by placing the `.sidebar` on the right.
 */

@media (min-width: 48em) {
  .layout-reverse .sidebar {
    left: auto;
    right: 0;
  }
  .layout-reverse .content {
    margin-left: 2rem;
    margin-right: 20rem;
  }
}

@media (min-width: 64em) {
  .layout-reverse .content {
    margin-left: 4rem;
    margin-right: 22rem;
  }
}

.top {
    float: right;
}



.banner {
    opacity: 0;
}
.banner.show {
    opacity: 1;
}
.banner.hide {
    opacity: 0;
}

@media (max-width: 48em) {
    .banner {
    opacity: 0;
    height:50px;
    background:#ecf0f1;
    /*opacity:0.95; filter:alpha(opacity=95);*/
    border-bottom:1px solid #DDD;
    position:fixed;
    width:100%;
    top:0px;
    z-index:1000;
    -webkit-transition: opacity 0.2s ease-in;
    -moz-transition: opacity 0.2s ease-in;
    -o-transition: opacity 0.2s ease-in;
    -ms-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    }
}
.bannercontent {
    text-align:center;
    margin:0.7em auto;
}
.banner-nav-item {
color: #505050;
}
a.banner-nav-item:hover,
a.banner-nav-item:focus {
  text-decoration: underline;
}
.banner-nav-item.active {
  font-weight: bold;
}
