---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date"> 
	<!-- Anfang Datum -->
		{% assign m = page.date | date: "%-m" %}
		{{ page.date | date: "%d" }}.
		{% case m %}
		  {% when '1' %}Januar
		  {% when '2' %}Februar
		  {% when '3' %}M&auml;rz
		  {% when '4' %}April
		  {% when '5' %}Mai
		  {% when '6' %}Juni
		  {% when '7' %}Juli
		  {% when '8' %}August
		  {% when '9' %}September
		  {% when '10' %}Oktober
		  {% when '11' %}November
		  {% when '12' %}Dezember
		{% endcase %}
		{{ page.date | date: "%Y" }}
    <!-- Ende Datum -->
	&middot; {{ page.location }}
   </span>
  
  {{ content }}
</div>
<a name="comments" />
{% include comments.html %}

<!-- <div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div> -->
